body{font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: black;}
a{font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: burlywood;
text-decoration: none;}
a:hover {text-decoration: underline;}
li{font-style: italic;
font-weight: normal;}
h4{font-size: 18px;}
title{font-size: 18px;}
.resumelistheading {font-weight: bold;
font-style: normal;}
.justify{text-align: justify;}
.center{text-align: center;}
.right{text-align: right;}
.bold{font-weight: bold;}

.bgcolor{background-color: rgb(255, 252, 245);}

.homebg{background-image: url("../Images/Mountains.JPG");
background-position: top right;
background-size: cover;}

